.container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.block-portfolio {
  width: 1000px;
  display: flex;
  flex-direction: column;
}
.block-toolbar {
  display: flex;
  padding: 20px 10px;
}
.toolbar-btn {
  border: 1px solid gray;
  padding: 5px 20px;
  margin: 0 4px;
  background-color: white;
  color: black;
  cursor: pointer;
}
.btn-active {
  background-color: black;
  color: white;
}
.block-cards {
  display: flex;
  justify-content: space-between;
}
.column-img {
  width: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img-item {
  width: 100%;
  margin: 10px 0;
}
